AdventureWorks-ADF-ETL/pipelines/LoadAdventureWorks_Pipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureBlobStorage1":{"type":"string"},"AzureSqlDatabase1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/LoadAdvWorks')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"PersonTable_DF","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"PersonTable_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SplitSourceTable":{},"Person":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"PersonTable_DF1","type":"ExecuteDataFlow","dependsOn":[{"activity":"PersonTable_DF","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"PersonTable_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SplitSourceTable":{},"Person":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"CustomerTable_DF","type":"ExecuteDataFlow","dependsOn":[{"activity":"PersonTable_DF","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"CustomerTable_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SourceTable":{},"Person":{},"Customer":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"CustomerAddresses_DF","type":"ExecuteDataFlow","dependsOn":[{"activity":"CustomerTable_DF","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"CustomerAddresses_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SourceTable":{},"Customer":{},"CustomerAddresses":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"ProductTable_DF","type":"ExecuteDataFlow","dependsOn":[{"activity":"PersonTable_DF","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"ProductTable_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SourceTable":{},"Product":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"Sale_DF","type":"ExecuteDataFlow","dependsOn":[{"activity":"ProductTable_DF","dependencyConditions":["Succeeded"]},{"activity":"PersonTable_DF1","dependencyConditions":["Succeeded"]},{"activity":"CustomerTable_DF","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"Sale_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SourceTable":{},"Person":{},"Sale":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"SaleDetails_DF","type":"ExecuteDataFlow","dependsOn":[{"activity":"Sale_DF","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"SaleDetails_DF","type":"DataFlowReference","parameters":{},"datasetParameters":{"SourceTable":{},"SaleDetails":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2026-01-22T16:39:50Z"},"dependsOn":["[concat(variables('factoryId'), '/dataflows/PersonTable_DF')]","[concat(variables('factoryId'), '/dataflows/CustomerTable_DF')]","[concat(variables('factoryId'), '/dataflows/CustomerAddresses_DF')]","[concat(variables('factoryId'), '/dataflows/ProductTable_DF')]","[concat(variables('factoryId'), '/dataflows/Sale_DF')]","[concat(variables('factoryId'), '/dataflows/SaleDetails_DF')]"]},{"name":"[concat(parameters('factoryName'), '/PersonTable_DF')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"description":"Using this DF to split the Source_Table","type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Source_Table","type":"DatasetReference"},"name":"SplitSourceTable"}],"sinks":[{"dataset":{"referenceName":"Person","type":"DatasetReference"},"name":"Person"}],"transformations":[{"name":"CustomerSelect"},{"name":"SalesPersonSelect"},{"name":"UnionIntoPerson"},{"name":"AggregatePerson"}],"scriptLines":["source(output(","          SalesOrderID as string,","          OrderDate as string,","          ShipDate as string,","          OrderStatus as string,","          OrderTotalDue as string,","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductStandardCost as string,","          ProductClass as string,","          OrderQuatity as string,","          ProductUnitPrice as string,","          CustomerTitle as string,","          CustomerFirstName as string,","          CustomerLastName as string,","          CustomerAddress as string,","          CustomerAccountNumber as string,","          SalesPersonTitle as string,","          SalesPersonFirstName as string,","          SalesPersonLastName as string,","          SalesPersonHourlyRate as string,","          SalesPersonBonus as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> SplitSourceTable","SplitSourceTable select(mapColumn(","          Title = CustomerTitle,","          FirstName = CustomerFirstName,","          LastName = CustomerLastName","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> CustomerSelect","SplitSourceTable select(mapColumn(","          Title = SalesPersonTitle,","          FirstName = SalesPersonFirstName,","          LastName = SalesPersonLastName","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SalesPersonSelect","CustomerSelect, SalesPersonSelect union(byName: true)~> UnionIntoPerson","UnionIntoPerson aggregate(groupBy(FirstName,","          LastName),","     Title = first(Title)) ~> AggregatePerson","AggregatePerson sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          PersonID as integer,","          Title as string,","          FirstName as string,","          LastName as string","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          Title,","          FirstName,","          LastName","     )) ~> Person"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Source_Table')]","[concat(variables('factoryId'), '/datasets/Person')]"]},{"name":"[concat(parameters('factoryName'), '/CustomerTable_DF')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Source_Table","type":"DatasetReference"},"name":"SourceTable"},{"dataset":{"referenceName":"Person","type":"DatasetReference"},"name":"Person"}],"sinks":[{"dataset":{"referenceName":"Customer","type":"DatasetReference"},"name":"Customer"}],"transformations":[{"name":"JoinID"},{"name":"SelectCustomerDet"},{"name":"AggregateCustomer"},{"name":"SalesTitle"},{"name":"PersonTitle"}],"scriptLines":["source(output(","          SalesOrderID as string,","          OrderDate as string,","          ShipDate as string,","          OrderStatus as string,","          OrderTotalDue as string,","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductStandardCost as string,","          ProductClass as string,","          OrderQuatity as string,","          ProductUnitPrice as string,","          CustomerTitle as string,","          CustomerFirstName as string,","          CustomerLastName as string,","          CustomerAddress as string,","          CustomerAccountNumber as string,","          SalesPersonTitle as string,","          SalesPersonFirstName as string,","          SalesPersonLastName as string,","          SalesPersonHourlyRate as string,","          SalesPersonBonus as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> SourceTable","source(output(","          PersonID as integer,","          Title as string,","          FirstName as string,","          LastName as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     isolationLevel: 'READ_UNCOMMITTED',","     format: 'table') ~> Person","SalesTitle, PersonTitle join(CustomerTitle == Title","     && CustomerFirstName == FirstName","     && CustomerLastName == LastName,","     joinType:'inner',","     matchType:'exact',","     ignoreSpaces: false,","     broadcast: 'auto')~> JoinID","JoinID select(mapColumn(","          CustomerAccountNumber,","          CustomerID = PersonID","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SelectCustomerDet","SelectCustomerDet aggregate(groupBy(CustomerAccountNumber,","          CustomerID),","     Dummy = count(1)) ~> AggregateCustomer","SourceTable derive(CustomerTitle = iif(isNull(CustomerTitle), 'UNKNOWN', CustomerTitle)) ~> SalesTitle","Person derive(Title = iif(isNull(Title), 'UNKNOWN', Title)) ~> PersonTitle","AggregateCustomer sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          CustomerAccountNumber as string,","          CustomerID as integer","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          CustomerAccountNumber,","          CustomerID","     )) ~> Customer"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Source_Table')]","[concat(variables('factoryId'), '/datasets/Person')]","[concat(variables('factoryId'), '/datasets/Customer')]"]},{"name":"[concat(parameters('factoryName'), '/CustomerAddresses_DF')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Source_Table","type":"DatasetReference"},"name":"SourceTable"},{"dataset":{"referenceName":"Customer","type":"DatasetReference"},"name":"Customer"}],"sinks":[{"dataset":{"referenceName":"CustomerAddresses","type":"DatasetReference"},"name":"CustomerAddresses"}],"transformations":[{"name":"JoinCustomerID"},{"name":"SelectAddresses"},{"name":"aggregate1"}],"scriptLines":["source(output(","          SalesOrderID as string,","          OrderDate as string,","          ShipDate as string,","          OrderStatus as string,","          OrderTotalDue as string,","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductStandardCost as string,","          ProductClass as string,","          OrderQuatity as string,","          ProductUnitPrice as string,","          CustomerTitle as string,","          CustomerFirstName as string,","          CustomerLastName as string,","          CustomerAddress as string,","          CustomerAccountNumber as string,","          SalesPersonTitle as string,","          SalesPersonFirstName as string,","          SalesPersonLastName as string,","          SalesPersonHourlyRate as string,","          SalesPersonBonus as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> SourceTable","source(output(","          CustomerAccountNumber as string,","          CustomerID as integer","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     isolationLevel: 'READ_UNCOMMITTED',","     format: 'table') ~> Customer","SourceTable, Customer join(SourceTable@CustomerAccountNumber == Customer@CustomerAccountNumber,","     joinType:'inner',","     matchType:'exact',","     ignoreSpaces: false,","     broadcast: 'auto')~> JoinCustomerID","JoinCustomerID select(mapColumn(","          CustomerAddress,","          CustomerID","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SelectAddresses","SelectAddresses aggregate(groupBy(CustomerAddress,","          CustomerID),","     dummy = count(1)) ~> aggregate1","aggregate1 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          CustomerAddress as string,","          CustomerID as integer","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          CustomerAddress,","          CustomerID","     )) ~> CustomerAddresses"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Source_Table')]","[concat(variables('factoryId'), '/datasets/Customer')]","[concat(variables('factoryId'), '/datasets/CustomerAddresses')]"]},{"name":"[concat(parameters('factoryName'), '/ProductTable_DF')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Source_Table","type":"DatasetReference"},"name":"SourceTable"}],"sinks":[{"dataset":{"referenceName":"Product","type":"DatasetReference"},"name":"Product"}],"transformations":[{"name":"SelectProductColumns"},{"name":"aggregate1"}],"scriptLines":["source(output(","          SalesOrderID as string,","          OrderDate as string,","          ShipDate as string,","          OrderStatus as string,","          OrderTotalDue as string,","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductStandardCost as string,","          ProductClass as string,","          OrderQuatity as string,","          ProductUnitPrice as string,","          CustomerTitle as string,","          CustomerFirstName as string,","          CustomerLastName as string,","          CustomerAddress as string,","          CustomerAccountNumber as string,","          SalesPersonTitle as string,","          SalesPersonFirstName as string,","          SalesPersonLastName as string,","          SalesPersonHourlyRate as string,","          SalesPersonBonus as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> SourceTable","SourceTable select(mapColumn(","          ProductName,","          ProductColor,","          ProductSize,","          ProductClass,","          ProductStandardCost","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SelectProductColumns","SelectProductColumns aggregate(groupBy(ProductName,","          ProductColor,","          ProductSize,","          ProductClass,","          ProductStandardCost),","     dummy = count(1)) ~> aggregate1","aggregate1 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductClass as string,","          ProductStandardCost as decimal(10,4)","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          ProductName,","          ProductColor,","          ProductSize,","          ProductClass,","          ProductStandardCost","     )) ~> Product"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Source_Table')]","[concat(variables('factoryId'), '/datasets/Product')]"]},{"name":"[concat(parameters('factoryName'), '/Sale_DF')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Source_Table","type":"DatasetReference"},"name":"SourceTable"},{"dataset":{"referenceName":"Person","type":"DatasetReference"},"name":"Person"}],"sinks":[{"dataset":{"referenceName":"Sale","type":"DatasetReference"},"name":"Sale"}],"transformations":[{"name":"SelectSale"},{"name":"JoinIDsCustomer"},{"name":"JoinIDsSalesPerson"},{"name":"SelectCustomerID"},{"name":"FinalSelect"},{"name":"aggregate1"}],"scriptLines":["source(output(","          SalesOrderID as string,","          OrderDate as string,","          ShipDate as string,","          OrderStatus as string,","          OrderTotalDue as string,","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductStandardCost as string,","          ProductClass as string,","          OrderQuatity as string,","          ProductUnitPrice as string,","          CustomerTitle as string,","          CustomerFirstName as string,","          CustomerLastName as string,","          CustomerAddress as string,","          CustomerAccountNumber as string,","          SalesPersonTitle as string,","          SalesPersonFirstName as string,","          SalesPersonLastName as string,","          SalesPersonHourlyRate as string,","          SalesPersonBonus as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> SourceTable","source(output(","          PersonID as integer,","          Title as string,","          FirstName as string,","          LastName as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     isolationLevel: 'READ_UNCOMMITTED',","     format: 'table') ~> Person","SourceTable select(mapColumn(","          SalesOrderID,","          OrderDate,","          ShipDate,","          OrderStatus,","          OrderTotalDue,","          CustomerFirstName,","          CustomerLastName,","          SalesPersonFirstName,","          SalesPersonLastName","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SelectSale","SelectSale, Person join(CustomerFirstName == FirstName","     && CustomerLastName == LastName,","     joinType:'inner',","     matchType:'exact',","     ignoreSpaces: false,","     broadcast: 'auto')~> JoinIDsCustomer","SelectCustomerID, Person join(SalesPersonFirstName == Person@FirstName","     && SalesPersonLastName == Person@LastName,","     joinType:'inner',","     matchType:'exact',","     ignoreSpaces: false,","     broadcast: 'auto')~> JoinIDsSalesPerson","JoinIDsCustomer select(mapColumn(","          SalesOrderID,","          OrderDate,","          ShipDate,","          OrderStatus,","          OrderTotalDue,","          SalesPersonFirstName,","          SalesPersonLastName,","          CustomerID = PersonID,","          FirstName,","          LastName","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SelectCustomerID","JoinIDsSalesPerson select(mapColumn(","          SalesOrderID,","          OrderDate,","          ShipDate,","          OrderStatus,","          OrderTotalDue,","          CustomerID,","          SalesPersonID = PersonID","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> FinalSelect","FinalSelect aggregate(groupBy(SalesOrderID,","          OrderDate,","          ShipDate,","          OrderStatus,","          OrderTotalDue,","          CustomerID,","          SalesPersonID),","     dummy = count(1)) ~> aggregate1","aggregate1 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          SalesOrderID as string,","          OrderDate as timestamp,","          ShipDate as timestamp,","          OrderStatus as integer,","          OrderTotalDue as decimal(10,4),","          CustomerID as integer,","          SalesPersonID as integer","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError') ~> Sale"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Source_Table')]","[concat(variables('factoryId'), '/datasets/Person')]","[concat(variables('factoryId'), '/datasets/Sale')]"]},{"name":"[concat(parameters('factoryName'), '/SaleDetails_DF')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Source_Table","type":"DatasetReference"},"name":"SourceTable"}],"sinks":[{"dataset":{"referenceName":"SaleDetails","type":"DatasetReference"},"name":"SaleDetails"}],"transformations":[{"name":"SelectSaleDetails"},{"name":"aggregate1"}],"scriptLines":["source(output(","          SalesOrderID as string,","          OrderDate as string,","          ShipDate as string,","          OrderStatus as string,","          OrderTotalDue as string,","          ProductName as string,","          ProductColor as string,","          ProductSize as string,","          ProductStandardCost as string,","          ProductClass as string,","          OrderQuatity as string,","          ProductUnitPrice as string,","          CustomerTitle as string,","          CustomerFirstName as string,","          CustomerLastName as string,","          CustomerAddress as string,","          CustomerAccountNumber as string,","          SalesPersonTitle as string,","          SalesPersonFirstName as string,","          SalesPersonLastName as string,","          SalesPersonHourlyRate as string,","          SalesPersonBonus as string","     ),","     allowSchemaDrift: true,","     validateSchema: false,","     ignoreNoFilesFound: false) ~> SourceTable","SourceTable select(mapColumn(","          SalesOrderID,","          ProductName,","          OrderQuatity,","          ProductUnitPrice","     ),","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true) ~> SelectSaleDetails","SelectSaleDetails aggregate(groupBy(SalesOrderID,","          ProductName,","          OrderQuatity,","          ProductUnitPrice),","     dummy = count(1)) ~> aggregate1","aggregate1 sink(allowSchemaDrift: true,","     validateSchema: false,","     input(","          SalesOrderID as string,","          ProductName as string,","          OrderQuantity as integer,","          ProductUnitPrice as decimal(10,4)","     ),","     deletable:false,","     insertable:true,","     updateable:false,","     upsertable:false,","     format: 'table',","     skipDuplicateMapInputs: true,","     skipDuplicateMapOutputs: true,","     errorHandlingOption: 'stopOnFirstError',","     mapColumn(","          SalesOrderID,","          ProductName,","          OrderQuantity = OrderQuatity,","          ProductUnitPrice","     )) ~> SaleDetails"]}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Source_Table')]","[concat(variables('factoryId'), '/datasets/SaleDetails')]"]},{"name":"[concat(parameters('factoryName'), '/Source_Table')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"AdventureWorks.txt","container":"advworkscontainer"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"SalesOrderID","type":"String"},{"name":"OrderDate","type":"String"},{"name":"ShipDate","type":"String"},{"name":"OrderStatus","type":"String"},{"name":"OrderTotalDue","type":"String"},{"name":"ProductName","type":"String"},{"name":"ProductColor","type":"String"},{"name":"ProductSize","type":"String"},{"name":"ProductStandardCost","type":"String"},{"name":"ProductClass","type":"String"},{"name":"OrderQuatity","type":"String"},{"name":"ProductUnitPrice","type":"String"},{"name":"CustomerTitle","type":"String"},{"name":"CustomerFirstName","type":"String"},{"name":"CustomerLastName","type":"String"},{"name":"CustomerAddress","type":"String"},{"name":"CustomerAccountNumber","type":"String"},{"name":"SalesPersonTitle","type":"String"},{"name":"SalesPersonFirstName","type":"String"},{"name":"SalesPersonLastName","type":"String"},{"name":"SalesPersonHourlyRate","type":"String"},{"name":"SalesPersonBonus","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Person')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"PersonID","type":"int","precision":10},{"name":"Title","type":"varchar"},{"name":"FirstName","type":"varchar"},{"name":"LastName","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"Person"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Customer')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"CustomerAccountNumber","type":"varchar"},{"name":"CustomerID","type":"int","precision":10}],"typeProperties":{"schema":"dbo","table":"Customer"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CustomerAddresses')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"CustomerAddress","type":"varchar"},{"name":"CustomerID","type":"int","precision":10}],"typeProperties":{"schema":"dbo","table":"CustomerAddresses"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Product')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"ProductName","type":"varchar"},{"name":"ProductColor","type":"varchar"},{"name":"ProductSize","type":"varchar"},{"name":"ProductClass","type":"varchar"},{"name":"ProductStandardCost","type":"decimal","precision":10,"scale":4}],"typeProperties":{"schema":"dbo","table":"Product"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Sale')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"SalesOrderID","type":"varchar"},{"name":"OrderDate","type":"datetime2","scale":7},{"name":"ShipDate","type":"datetime2","scale":7},{"name":"OrderStatus","type":"tinyint","precision":3},{"name":"OrderTotalDue","type":"decimal","precision":10,"scale":4},{"name":"CustomerID","type":"int","precision":10},{"name":"SalesPersonID","type":"int","precision":10}],"typeProperties":{"schema":"dbo","table":"Sale"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SaleDetails')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"SalesOrderID","type":"varchar"},{"name":"ProductName","type":"varchar"},{"name":"OrderQuantity","type":"tinyint","precision":3},{"name":"ProductUnitPrice","type":"decimal","precision":10,"scale":4}],"typeProperties":{"schema":"dbo","table":"SaleDetails"}},"dependsOn":[]}]}